  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let shirt of shirts">
        <div class="card h-100 border-0">
          <img [src]="shirt.image" class="card-img-top img-fluid" alt="{{ shirt.name }}">
          <div class="card-body text-center">
            <h5 class="card-title mb-2">{{ shirt.name }}</h5>
            <p class="card-text text-muted mb-3">Price: ₹{{ shirt.price }}</p>
            <button class="btn btn-outline-dark btn-sm mb-2" (click)="buyNow(shirt._id)">Buy Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  